html,
body {
  height: 100%;
}

body {
  /* display: flex; */
  align-items: center;
  padding-top: 4%;
  padding-bottom: 40px;
  margin: 2%;
  background-color: #96a7f3;
}


.main-div{
  border: 2px;
  border-style:groove;
  height: 50%;
  width: 50%;
  margin: 2%;
  background-color: white;
  padding: 2%;
}