<!-- <form action="/email" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                      <div class="u-form-email u-form-group u-label-none">
                        <label for="email" class="u-form-control-hidden u-label"></label>
                        <input type="email" placeholder="Enter a valid email address" id="email" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""
                        value="{{ request.form['email'] }}">
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit" id="btnsub">Register</button>
                      <!-- <div class="u-align-center u-form-group u-form-submit u-label-none">
                        <input type="submit" value="submit" class="u-form-control-hidden">
                        
                        <a href="#" class="u-border-2 u-border-black u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-2-base u-palette-1-light-1 u-radius-23 u-text-black u-text-hover-white u-btn-1">Submit</a>
                      </div> -->
                                            
                    </form> -->
